<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Game Index</title>
</head>
<body>
    <div class="text-center">
        <h1>This is the Game Index Page.</h1>
            <a asp-area="" asp-controller="Game" asp-action="WhackAMole" class="btn btn-primary">Whack-A-Mole</a>
    </div>

    
</body>
</html>
