<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Game Index</title>
</head>
<body>
    <div class="text-center">
        <h1>Welcome to Whack-A-Mole!</h1>
    </div>

    
</body>
</html>
